@use "../base/variables" as *;
@use "../base/mixins.scss" as f;
@use "../componentes/botao" as b;
@use "../componentes/cards" as c;
@use "../componentes/icons" as i;

body {
  width: 100%;
  height: 100vh;
  background: $black-color;
  color: $white-color;
  overflow-x: hidden;

  main {
    width: 100%;

    .hero {
      position: relative;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;

      .text-hero {
        position: relative;
        z-index: 1;
        
      }

      img {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
